<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Home</title>
</head>
<body class="bg-slate-200">
      <nav id="navbar" class="fixed top-0 right-0 left-0 bg-blue-700 h-16">
      </nav>

      <div class="pt-16 h-screen flex justify-center items-center flex-col md:flex-row lg:w-3/5 mx-auto px-4 gap-4 md:gap-8">
        <h1 class="text-fuchsia-800 font-bold text-4xl md:text-7xl"> Bienvenidos al Salón del Dominó "Los Zapateros del Juego"</h1>
        <div class="flex flex-col gap-4 md:text-xl">    
            <p class="text-justify">¡Entonces has llegado al lugar correcto! En nuestro exclusivo Salón del Dominó, conocido cariñosamente como "Los Zapateros del Juego", encontrarás a los jugadores más hábiles y a sus impresionantes historiales, Aquí, en "Los Zapateros del Juego", damos la bienvenida a jugadores de todos los niveles, desde novatos hasta maestros del dominó. Únete a nosotros en el Salón del Dominó "Los Zapateros del Juego" para partidas emocionantes, estadísticas fascinantes y el toque humorístico que solo los amantes de los zapatos pueden ofrecer. ¿Estás listo para dar tus primeros pasos (con estilo) en nuestro dominó? ¡Te esperamos!</p>
            <div class="flex justify-around gap-4">
                <a class="bg-neutral-600 px-4 py-2 rounded-lg text-white font-bold hover:bg-neutral-700 w-2/4 text-center transition ease-in-out" href="/list">Lista</a>
                <a class="bg-neutral-600 px-4 py-2 rounded-lg text-white font-bold hover:bg-neutral-700 w-2/4 text-center transition ease-in-out" href="/login">Login</a>
                <a class="bg-fuchsia-800 px-4 py-2 rounded-lg text-white font-bold hover:bg-fuchsia-900 w-2/4 text-center transition ease-in-out" href="/signup">SignUp</a>
            </div>
        </div>
      </div>

     <script src="/components/nav.js"></script>
</body>
</html>